/* You can add global styles to this file, and also import other style files */


@import "primeicons/primeicons.css";


/* Order */
@layer reset, primeng;

/* Reset CSS */
@layer reset {

    .p-button,
    .p-inputtext,
    .p-dropdown-label {
        border-radius: 10px !important;
        padding: 7px 10px !important;
    }

    .p-dropdown {
        padding: 0px !important;
    }

    .p-button {
        .p-button-label {
            font-weight: 500 !important;
        }
    }
}